#d_ajax_search_results {
    margin:0px;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(224, 224, 224);
    background-color: rgb(255, 255, 255);
    box-shadow: -2.237px 3.316px 43px 0px rgba(0, 0, 0, 0.16);
    position: absolute;
    z-index: 1005;


}
#d_ajax_search_results #d_ajax_search_results_body {
    color: #fff;
    position: relative;
}
#d_ajax_search_results_body > .row:hover{
  background-color: rgb(238, 238, 238);
}
.fa-spinner{
    align-self: center;
}
.name {
    padding-left: 20px!important;
}

#d_ajax_search_results .row {

    /* border-style: solid;
    border-width: 1px;
    border-color: rgb(224, 224, 224);
    background-color: rgb(255, 255, 255);
    box-shadow: -2.237px 3.316px 43px 0px rgba(0, 0, 0, 0.16); */
        font-size: 13px;
    color: rgb(0, 0, 0);
    line-height: 1.538;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 7px;
    padding-top: 7px;
    text-align: center;
    margin: 0px;
    width: 100%;
    /* height: 50px; */
    display: table;
}
#d_ajax_search_results .row .col {
    display: table-cell;
    float: none;
    padding: 0px 0px;
}
#d_ajax_search_results .row .col.va-center {
    /* vertical-align: middle; */
}
#d_ajax_search_results .row .col .old-price {
    text-decoration:line-through;
}