.d-ajax-search-modal {
    padding-top: 0;
}
.d-ajax-search-modal .d-ajax-search-modal__content {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
}
.d-ajax-search-modal .d-ajax-search-modal__content .d_as-block-text:first-letter {
    text-transform: uppercase;
}
.d-ajax-search-modal .d-ajax-search-modal__content .d_as-block-text {
    color: #000;
    font-weight: 600;
    margin-bottom: 0;
}
.d-ajax-search-modal .d-ajax-search-modal__content .ve-card {
    border: 2px solid #6598d9;
    border-radius: 0px;
    height: 100%;
    overflow: hidden;
    margin: 0;
}
.d-ajax-search-modal .d-ajax-search-modal__content .ve-input-group {
    border: none;
    box-shadow: none;
}
.d-ajax-search-modal .d-ajax-search-modal__content .ve-input-group .ve-btn,
.d-ajax-search-modal .d-ajax-search-modal__content .ve-input-group .ve-input,
.d-ajax-search-modal .d-ajax-search-modal__content .ve-input-group .ve-input:focus {
    box-shadow: none;
    border: none;
    background-color: #6598d9;
}
.d-ajax-search-modal .d-ajax-search-modal__content .ve-card__header {
    padding: 8px;
    background-color: #6598d9;
}
.d-ajax-search-modal .d-ajax-search-modal__content .ve-card .ve-card__section {
    padding: 15px 18px;
    height: calc(100% - 48px);
    overflow: auto;
}
.d-ajax-search-modal .d-ajax-search-modal__content .ve-card .ve-card__section .d-ajax-search__saggestion {
    font-size: 19px;
    font-weight: 200;
}
.d-ajax-search-modal .d-ajax-search-modal__content .ve-card .ve-card__section .d-ajax-search__saggestion .d-ajax-search__saggestion-result {
    font-weight: 600;
}
.d-ajax-search-modal .d-ajax-search-modal__content .ve-card .ve-card__section .d-ajax-search-modal__help {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: grey;
}
.d-ajax-search-modal .d-ajax-search-modal__content .ve-card .ve-card__section .d-ajax-search-modal__no-results {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: grey;
}
.d-ajax-search-modal .d-ajax-search-modal__content .ve-card .ve-card__section .d_as-result-block .d_as-result-block__heading-row {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
}
.d-ajax-search-modal .d-ajax-search-modal__content .ve-card .ve-card__section .d_as-result-link {
    margin: 0px;
    margin-bottom: 10px;
    color: rgb(0,0,0);
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.d-ajax-search-modal .d-ajax-search-modal__content .ve-card .ve-card__section .d-ajax-search-modal__all-results-wrapper {
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
    padding: 0px 6px;
}
.d-ajax-search-modal .d-ajax-search-modal__content .ve-card .ve-card__section .d_as-result-link .d_as-result-link__image-wrapper {
    padding-right: 0;
}
.d-ajax-search-modal .d-ajax-search-modal__content .ve-card .ve-card__section .d_as-result-link .d_as-result-link__image {
    min-width: 60px;
    min-height: 60px;
}
.d-ajax-search-modal .d-ajax-search-modal__content .ve-card .ve-card__section .d_as-result-link .d_as-result-link__price-wrapper {
    padding-left: 0;
}
.d-ajax-search-modal .d-ajax-search-modal__content .ve-card .ve-card__section .d_as-result-link .d_as-result-link__price-special {
    font-weight: 600;
}
.d-ajax-search-modal .d-ajax-search-modal__content .ve-card .ve-card__section .d_as-result-link .d_as-result-link__price-old {
    text-decoration: line-through;
    font-weight: 200;
}